<div class="our-value-section">
        <div class="main-container">
          <div class="our-value-wrapper">
            <div class="our-vision-container">
              <div id="w-node-_5dbb9ce9-eae2-20dd-ae4c-457dbf57b6bb-bf57b6b7" data-w-id="5dbb9ce9-eae2-20dd-ae4c-457dbf57b6bb" class="container-small section-title-wrap">
                <h1 class="heading-32">{{ 'tn6243b084' | t }}</h1>
                <p class="paragraph-6">{{ 't45f39299' | t }}</p>
                <div class="line-divider-small"></div>
              </div>
              <div class="about-us-image-wrapper">
                <div data-w-id="5dbb9ce9-eae2-20dd-ae4c-457dbf57b6c2" class="about-us-image-block _1"><img src="{{ '060a8733-enhanced-nr_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, 412px" srcset="{{ '060a8733-enhanced-nr_1060a8733-enhanced-nr.avif' | asset_url }} 500w, {{ '060a8733-enhanced-nr_1060a8733-enhanced-nr.avif' | asset_url }} 800w, {{ '060a8733-enhanced-nr_1060a8733-enhanced-nr.avif' | asset_url }} 1080w, {{ '060a8733-enhanced-nr_1060a8733-enhanced-nr.avif' | asset_url }} 1600w, {{ '060a8733-enhanced-nr_1060a8733-enhanced-nr.avif' | asset_url }} 2000w, {{ '060a8733-enhanced-nr_1.avif' | asset_url }} 4437w" alt="" class="image-cover">
                  <div class="overlay-animation bg-secondary-light"></div>
                </div>
                <div data-w-id="5dbb9ce9-eae2-20dd-ae4c-457dbf57b6c5" class="about-us-image-block _2"><img src="{{ '060a8802-enhanced-nr-edit_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, 412px" srcset="{{ '060a8802-enhanced-nr-edit_1060a8802-enhanced-nr-edit.avif' | asset_url }} 500w, {{ '060a8802-enhanced-nr-edit_1060a8802-enhanced-nr-edit.avif' | asset_url }} 800w, {{ '060a8802-enhanced-nr-edit_1060a8802-enhanced-nr-edit.avif' | asset_url }} 1080w, {{ '060a8802-enhanced-nr-edit_1060a8802-enhanced-nr-edit.avif' | asset_url }} 1600w, {{ '060a8802-enhanced-nr-edit_1060a8802-enhanced-nr-edit.avif' | asset_url }} 2000w, {{ '060a8802-enhanced-nr-edit_1060a8802-enhanced-nr-edit.avif' | asset_url }} 2600w, {{ '060a8802-enhanced-nr-edit_1.avif' | asset_url }} 4480w" alt="" class="image-cover">
                  <div class="overlay-animation bg-secondary-light"></div>
                </div>
              </div>
            </div>
            <div class="split-container">
              <div data-w-id="5dbb9ce9-eae2-20dd-ae4c-457dbf57b6c9" class="image-wrapper about-us"><img src="{{ '060a3931_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 100vw, (max-width: 1279px) 53vw, 54vw" srcset="{{ '060a3931_1060a3931.avif' | asset_url }} 500w, {{ '060a3931_1060a3931.avif' | asset_url }} 800w, {{ '060a3931_1060a3931.avif' | asset_url }} 1080w, {{ '060a3931_1060a3931.avif' | asset_url }} 1600w, {{ '060a3931_1.avif' | asset_url }} 2135w" alt="" class="image-cover">
                <div class="overlay-animation bg-secondary-light"></div>
              </div>
              <div id="w-node-_5dbb9ce9-eae2-20dd-ae4c-457dbf57b6cc-bf57b6b7" data-w-id="5dbb9ce9-eae2-20dd-ae4c-457dbf57b6cc" class="container-small">
                <h1 class="heading-28">{{ 't3dba0078' | t }}</h1>
                <p class="paragraph-4">{{ 't45f39299' | t }}</p>
                <div class="line-divider-small"></div>
              </div>
            </div>
          </div>
        </div>
      </div>