<div class="product-header-wrapper">
          <div data-w-id="313f0f70-4532-3af9-6142-e9eec82fea23" class="product-header-text-wrap">
            <div class="title-uppercase-text color-white">{{ 'tn5c05b2e2' | t }}</div>
            <h1 class="heading-white">{{ 't24263543' | t }}</h1>
          </div><img src="{{ 'untitled_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 94vw" srcset="{{ 'untitled_1untitled.avif' | asset_url }} 500w, {{ 'untitled_1untitled.avif' | asset_url }} 800w, {{ 'untitled_1untitled.avif' | asset_url }} 1080w, {{ 'untitled_1untitled.avif' | asset_url }} 1600w, {{ 'untitled_1untitled.avif' | asset_url }} 2000w, {{ 'untitled_1untitled.avif' | asset_url }} 2600w, {{ 'untitled_1untitled.avif' | asset_url }} 3200w, {{ 'untitled_1.avif' | asset_url }} 4751w" alt="" class="e-commerce-image-header">
        </div>