<div fs-consent-element="internal-component" class="fs-consent_component">
    <div fs-consent-easing="ease" fs-consent-element="banner" fs-consent-animation="fade" fs-consent-duration="300" class="fs-consent_banner">
      <div class="fs-consent_banner_wrapper">
        <p class="fs-consent_banner_paragraph">{{ 't6ffc699d' | t }}<strong fs-consent-element="internal-banner-text">{{ 'tn68bb590f' | t }}</strong>{{ 't5832979c' | t }}<a href="{{ pages["privacy-policy"].url }}" class="link-7">{{ 'tn3fbde6f6' | t }}</a>{{ 'tn466d844a' | t }}</p>
        <div fs-consent-element="internal-buttons-wrapper" class="fs-consent_banner_buttons">
          <a fs-consent-element="allow" href="#" class="fs-consent_allow w-button">{{ 'tn772bfa51' | t }}</a>
        </div>
      </div>
    </div>
  </div>