<div class="contact-bar">
    <div class="contact-bar-2">
      <div class="contact-bar-container w-container">
        <div li-section="Footer banner" class="c-bar-inside">
          <div class="a-bar-left">
            <a href="#" class="a-bar-text w-inline-block">
              <div class="copyright-p">{{ 't318803b0' | t }}<span>{{ 't177500' | t }}</span>{{ 'tn4fbc0a96' | t }}</div>
            </a>
          </div>
          <div class="made-with-love">
            <div class="waves---paragraph-small bottom-p">{{ 't4d2aa0d1' | t }}</div><img src="{{ 'np_heart_888700_d77967.svg' | asset_url }}" loading="lazy" width="28" alt="" class="image-10">
            <div class="waves---paragraph-small bottom-p">{{ 't16c498e5' | t }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>