{% capture listItems %}
{% for item in collections[settings.collection_categories_template].products limit: settings.collection_categories_template_limit %}
<div role="listitem" class="product-item w-dyn-item">
                <a data-w-id="b6656d4e-8684-161d-b53e-b0cc73204c41" href="{{ item.url }}" class="product-link-block w-inline-block"></a>
                <div class="product-card">
                  <a href="#" class="images-container relative w-inline-block">{{ item.url }}</a>
                  <div id="w-node-b6656d4e-8684-161d-b53e-b0cc73204c4f-23c8641c" class="info-container">
                    <div class="spacer _1rem"></div>
                    <div class="info-card-wrap">
                      <div class="card-title-wrapper">
                        <a href="#" class="title-link w-inline-block">{{ item.url }}</a>
                      </div>
                      <div class="price-card-wrapper"><smootify-price class="product-price-wrapper-2">
                          <div class="card-price-wrap">
                            <div data-commerce-type="variation-price" class="text-block-41">{{ item.price | money_with_currency }}</div>
                          </div>
                        </smootify-price></div>
                    </div>
                    <div class="spacer _0-5rem"></div>
                    <div class="spacer _0-5rem"></div>
                    <a href="{{ item.url }}" class="button-primary w-button">Shop Now</a>
                  </div>
                </div>
              </div>
{%- endfor -%}
{% endcapture %}
{% assign items_length = listItems | strip | size %}
<div class="product-list-wrapper w-dyn-list" udy-collection="product">
            {%- unless items_length == 0 -%}<div data-w-id="b6656d4e-8684-161d-b53e-b0cc73204c3f" role="list" class="product-grid w-dyn-items">
              {{ listItems }}
            </div>{%- endunless -%}
            {%- if items_length == 0 -%}<div class="w-dyn-empty">
              <div>No items found.</div>
            </div>{%- endif -%}
          </div>