<div data-delay="0" data-hover="false" id="w-node-_94c968ec-d0b2-c578-a8af-d6ecd6596e80-d6596e80" data-w-id="94c968ec-d0b2-c578-a8af-d6ecd6596e80" class="faq w-dropdown">
                  <div class="faq-toggle w-dropdown-toggle">
                    <div class="faq-title-wrapper">
                      <div class="subheading-regular">{{ 'tn5b4dfedd' | t }}</div>
                      <div class="faq-arrow w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 15.705L18 9.70496L16.59 8.29496L12 12.875L7.41 8.29496L6 9.70496L12 15.705Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                  </div>
                  <nav class="faq-content w-dropdown-list">
                    <div class="faq-divider"></div>
                    <div class="faq-tab">
                      <p class="paragraph-regular-2">{{ 't471b857f' | t }}<br><br>{{ 'tn137743e9' | t }}<strong>{{ 'tn28171b24' | t }}</strong>{{ 't15714e83' | t }}<br><br>{{ 'tn6d2ffbed' | t }}<br><br>{{ 't716c68df' | t }}</p>
                    </div>
                  </nav>
                </div>