{% capture listItems %}
{% paginate collections.all.products by 999 %}
{%- assign allItems = collections.all.products -%}
{%- for item in allItems  -%}
                <div role="listitem" class="product-item w-dyn-item">
              <a data-w-id="82a98340-a579-4495-2bcc-9f08720d2758" href="{{ item.url }}" class="product-link-block w-inline-block"></a>
              <div class="product-card">
                <a href="#" class="images-container relative w-inline-block">{{ item.url }}</a>
                <div id="w-node-_82a98340-a579-4495-2bcc-9f08720d2766-720d2755" class="info-container">
                  <div class="spacer _1rem"></div>
                  <div class="info-card-wrap">
                    <div class="card-title-wrapper">
                      <a href="#" class="title-link w-inline-block">{{ item.url }}</a>
                    </div>
                    <div class="price-card-wrapper"><smootify-price class="product-price-wrapper-2">
                        <div class="card-price-wrap">
                          <div data-commerce-type="variation-price" class="text-block-41">{{ item.price | money_with_currency }}</div>
                        </div>
                      </smootify-price></div>
                  </div>
                  <div class="spacer _0-5rem"></div>
                  <div class="spacer _0-5rem"></div>
                  <a href="{{ item.url }}" class="button-primary w-button">Shop Now</a>
                </div>
              </div>
            </div>
{%- endfor -%}
{% endpaginate %}
{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="product-list-wrapper w-dyn-list" udy-collection="product">
          {%- unless items_length == 0 -%}<div data-w-id="82a98340-a579-4495-2bcc-9f08720d2756" role="list" class="product-grid w-dyn-items">
            {{ listItems }}
          </div>{%- endunless -%}
          {%- if items_length == 0 -%}<div class="w-dyn-empty">
            <div>No items found.</div>
          </div>{%- endif -%}
        </div>