
        <div class="container-large-6">
          {%- if settings.collection_home != blank -%}{%- render "markup_for_collection_home" -%}{%- else -%}{%- render "products_max_1_sorted_by_name" -%}{%- endif -%}
          <div class="w-layout-grid content-features">
            <div id="w-node-_85e7b60f-e4a7-dbd4-cb90-b2525614645e-56146449" class="wrap-h-regular-2">
              <div class="wrap-v-small align-v-center">
                <div class="icon-regular w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 4.5C16.1423 4.5 19.5 7.85775 19.5 12C19.5 16.1423 16.1423 19.5 12 19.5C7.85775 19.5 4.5 16.1423 4.5 12C4.5 7.85775 7.85775 4.5 12 4.5ZM12 6C10.4087 6 8.88258 6.63214 7.75736 7.75736C6.63214 8.88258 6 10.4087 6 12C6 13.5913 6.63214 15.1174 7.75736 16.2426C8.88258 17.3679 10.4087 18 12 18C13.5913 18 15.1174 17.3679 16.2426 16.2426C17.3679 15.1174 18 13.5913 18 12C18 10.4087 17.3679 8.88258 16.2426 7.75736C15.1174 6.63214 13.5913 6 12 6ZM12 8.25C12.7894 8.2503 13.5586 8.49973 14.198 8.96275C14.8374 9.42578 15.3144 10.0788 15.561 10.8287C15.8075 11.5787 15.8112 12.3873 15.5713 13.1394C15.3314 13.8915 14.8603 14.5488 14.2251 15.0175C13.5898 15.4862 12.8229 15.7425 12.0335 15.7498C11.2441 15.7572 10.4725 15.5152 9.82864 15.0584C9.18479 14.6016 8.70153 13.9533 8.4477 13.2057C8.19388 12.4582 8.18243 11.6497 8.415 10.8953C8.59044 11.2873 8.89521 11.6072 9.27829 11.8014C9.66138 11.9956 10.0995 12.0523 10.5195 11.9621C10.9394 11.8719 11.3156 11.6402 11.5851 11.3057C11.8546 10.9713 12.0011 10.5545 12 10.125C12.0001 9.76385 11.8959 9.41036 11.6999 9.10701C11.5039 8.80366 11.2245 8.56336 10.8953 8.415C11.2448 8.30775 11.6153 8.25 12 8.25Z" fill="#322720"></path>
                  </svg></div>
                <div class="content-feature-line"></div>
              </div>
              <div class="wrap-v-small">
                <div class="paragraph-large-3 text-weight-medium">{{ section.settings.addison_info_1 }}</div>
                <p class="paragraph-regular-8 text-color-gray-700">{{ section.settings.addison_info_p_1 | newline_to_br }}</p>
              </div>
            </div>
            <div id="w-node-_85e7b60f-e4a7-dbd4-cb90-b25256146467-56146449" class="wrap-h-regular-2">
              <div class="wrap-v-small align-v-center">
                <div class="icon-regular w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.25 4.53737V6.80237C8.706 7.16762 6.75 9.35612 6.75 11.9999C6.75 14.8994 9.1005 17.2499 12 17.2499C13.179 17.2499 14.268 16.8614 15.144 16.2044L16.7467 17.8071C15.4538 18.8646 13.8 19.4999 12 19.4999C7.85775 19.4999 4.5 16.1421 4.5 11.9999C4.5 8.11112 7.46025 4.91312 11.25 4.53737ZM19.4625 12.7499C19.3125 14.2581 18.717 15.6351 17.8073 16.7459L16.2045 15.1439C16.7198 14.4569 17.0693 13.6394 17.1968 12.7499H19.4633H19.4625ZM12.7515 4.53737C16.2945 4.88912 19.1115 7.70687 19.464 11.2499H17.1975C16.869 8.95112 15.0503 7.13237 12.7515 6.80312V4.53662V4.53737Z" fill="#322720"></path>
                  </svg></div>
                <div class="content-feature-line"></div>
              </div>
              <div class="wrap-v-small">
                <div class="paragraph-large-3 text-weight-medium">{{ section.settings.addison_info_2 }}</div>
                <p class="paragraph-regular-8 text-color-gray-700">{{ section.settings.addison_info_p_2 | newline_to_br }}</p>
              </div>
            </div>
            <div id="w-node-_85e7b60f-e4a7-dbd4-cb90-b25256146472-56146449" class="wrap-h-regular-2">
              <div class="wrap-v-small align-v-center">
                <div class="icon-regular w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.3807 14.7443L16.5128 14.877L16.6462 14.7443C16.8029 14.5876 16.989 14.4632 17.1937 14.3784C17.3985 14.2936 17.6179 14.25 17.8395 14.25C18.0611 14.25 18.2805 14.2936 18.4853 14.3784C18.69 14.4632 18.8761 14.5876 19.0328 14.7443C19.1895 14.901 19.3138 15.087 19.3986 15.2917C19.4834 15.4965 19.527 15.7159 19.527 15.9375C19.527 16.1591 19.4834 16.3785 19.3986 16.5833C19.3138 16.788 19.1895 16.974 19.0328 17.1307L16.5128 19.65L13.9943 17.1307C13.6778 16.8143 13.5 16.3851 13.5 15.9375C13.5 15.4899 13.6778 15.0607 13.9943 14.7443C14.3107 14.4278 14.7399 14.25 15.1875 14.25C15.6351 14.25 16.0643 14.4278 16.3807 14.7443ZM12 13.5V15C10.8065 15 9.66193 15.4741 8.81802 16.318C7.97411 17.1619 7.5 18.3065 7.5 19.5H6C6.00002 17.9412 6.6067 16.4436 7.6916 15.3242C8.7765 14.2049 10.2544 13.5517 11.8125 13.503L12 13.5ZM12 3.75C14.4862 3.75 16.5 5.76375 16.5 8.25C16.5004 9.4144 16.0493 10.5336 15.2416 11.3723C14.4338 12.2109 13.3323 12.7037 12.1688 12.747L12 12.75C9.51375 12.75 7.5 10.7362 7.5 8.25C7.49958 7.0856 7.95068 5.96641 8.75843 5.12774C9.56618 4.28908 10.6677 3.79629 11.8312 3.753L12 3.75ZM12 5.25C10.3425 5.25 9 6.5925 9 8.25C9 9.9075 10.3425 11.25 12 11.25C13.6575 11.25 15 9.9075 15 8.25C15 6.5925 13.6575 5.25 12 5.25Z" fill="#322720"></path>
                  </svg></div>
                <div class="content-feature-line"></div>
              </div>
              <div class="wrap-v-small">
                <div class="paragraph-large-3 text-weight-medium">{{ section.settings.addison_info_3 }}</div>
                <p class="paragraph-regular-8 text-color-gray-700">{{ section.settings.addison_info_p_3 | newline_to_br }}</p>
              </div>
            </div>
          </div>
        </div>
      

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("li-section","product 1");currentSection.setAttribute("class","product-section-2 addison-section");</script>
        
{% schema %}
{
  "name": "addison section",
  "tag": "section",
  "class": "product-section-2 addison-section",
  "settings": [
    {
      "type": "text",
      "id": "addison_info_1",
      "label": "addison info 1",
      "default": "Quality Materials"
    },
    {
      "type": "text",
      "id": "addison_info_2",
      "label": "addison info 2",
      "default": "Customizable"
    },
    {
      "type": "text",
      "id": "addison_info_3",
      "label": "addison info 3",
      "default": "Easy to Clean"
    },
    {
      "type": "textarea",
      "id": "addison_info_p_1",
      "label": "addison info p 1",
      "default": "Our designs are made with solidEastern White Pine wood (Pet Safe). No cheap press board or fake wood here!"
    },
    {
      "type": "textarea",
      "id": "addison_info_p_2",
      "label": "addison info p 2",
      "default": "Choose the perfect SIZE and STAIN to match your dog and your room."
    },
    {
      "type": "textarea",
      "id": "addison_info_p_3",
      "label": "addison info p 3",
      "default": "We know that pets make a mess!Which is why we installed laminateflooring for easy cleaning!"
    }
  ]
}
{% endschema %}