
        <div class="sysf-container">
          <div class="sysf-wrapper-m">
            <div class="sysf-section-title">
              <div class="sysf-tagline" fb-tooltip-position="top" fb-tooltip-animation="shift-away" fb-tooltip-message="Learn More About Mark Karen's" fb-tooltip-theme="light" fb-tooltip-show-delay="500" fb-tooltip="true" fb-tooltip-trigger="hover">{{ section.settings.faq_tagline }}</div>
              <h4 class="sysf-heading sysf-l">{{ section.settings.faq_title | newline_to_br }}</h4>
              <p class="sysf-body-text">{{ section.settings.faq_p | newline_to_br }}</p>
              <div class="button-data_content-3">
                <a data-w-id="cd29f991-274e-9e2b-1e91-ca7400fc65ff" href="{{ pages["contact-us"].url }}" class="button-block-24 is--dark is-small w-inline-block">
                  <div class="button-wrap-24">
                    <div class="button-icon-wrap-24"></div>
                    <div class="button-text-24 is-small">{{ 't7f274abe' | t }}</div>
                    <div class="button-text-24-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!-- ! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.  -->
                        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" fill="currentColor"></path>
                      </svg></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="sysf-collapse">
              <div class="sysf-collapse-item">
                <div class="sysf-collapse-trigger">
                  <div class="material-icons sysf-icon-left sysf-icon-collapse">{{ 'tn1a15da26' | t }}</div>
                  <div class="sysf-collapse-title">{{ section.settings.faq_q_1 }}</div>
                </div>
                <div class="sysf-collapse-text">{{ section.settings.faq_a_1 | newline_to_br }}</div>
              </div>
              <div class="sysf-collapse-item">
                <div class="sysf-collapse-trigger">
                  <div class="material-icons sysf-icon-left sysf-icon-collapse">{{ 'tn1a15da26' | t }}</div>
                  <div class="sysf-collapse-title">{{ section.settings.faq_q_2 }}</div>
                </div>
                <div class="sysf-collapse-text">{{ section.settings.faq_a_2 | newline_to_br }}</div>
              </div>
              <div class="sysf-collapse-item">
                <div class="sysf-collapse-trigger">
                  <div class="material-icons sysf-icon-left sysf-icon-collapse">{{ 'tn1a15da26' | t }}</div>
                  <div class="sysf-collapse-title">{{ section.settings.faq_q_3 }}</div>
                </div>
                <div class="sysf-collapse-text">{{ section.settings.faq_a_3 | newline_to_br }}</div>
              </div>
              <div class="sysf-collapse-item">
                <div class="sysf-collapse-trigger">
                  <div class="material-icons sysf-icon-left sysf-icon-collapse">{{ 'tn1a15da26' | t }}</div>
                  <div class="sysf-collapse-title">{{ section.settings.faq_q_4 }}</div>
                </div>
                <div class="sysf-collapse-text">{{ section.settings.faq_a_4 | newline_to_br }}</div>
              </div>
              <div class="sysf-collapse-item">
                <div class="sysf-collapse-trigger">
                  <div class="material-icons sysf-icon-left sysf-icon-collapse">{{ 'tn1a15da26' | t }}</div>
                  <div class="sysf-collapse-title">{{ section.settings.faq_q_5 }}</div>
                </div>
                <div class="sysf-collapse-text">{{ section.settings.faq_a_5 | newline_to_br }}</div>
              </div>
              <div class="sysf-collapse-item">
                <div class="sysf-collapse-trigger">
                  <div class="material-icons sysf-icon-left sysf-icon-collapse">{{ 'tn1a15da26' | t }}</div>
                  <div class="sysf-collapse-title">{{ section.settings.faq_q_6 }}</div>
                </div>
                <div class="sysf-collapse-text">{{ section.settings.faq_a_6 | newline_to_br }}</div>
              </div>
            </div>
          </div>
        </div>
      

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","faq-section");</script>
        
{% schema %}
{
  "name": "FAQ section",
  "tag": "div",
  "class": "faq-section",
  "settings": [
    {
      "type": "text",
      "id": "faq_tagline",
      "label": "faq tagline",
      "default": "Learn More"
    },
    {
      "type": "text",
      "id": "faq_q_1",
      "label": "FAQ Q 1",
      "default": "Shipping & Returns"
    },
    {
      "type": "text",
      "id": "faq_q_2",
      "label": "FAQ Q 2",
      "default": "Where is your furniture made?"
    },
    {
      "type": "text",
      "id": "faq_q_3",
      "label": "FAQ Q 3",
      "default": "Will my pet use it?"
    },
    {
      "type": "text",
      "id": "faq_q_4",
      "label": "FAQ Q 4",
      "default": "Can I customize it? "
    },
    {
      "type": "text",
      "id": "faq_q_5",
      "label": "FAQ Q 5",
      "default": "How long until I receive it?"
    },
    {
      "type": "text",
      "id": "faq_q_6",
      "label": "FAQ Q 6",
      "default": "Who is Mark Karen's?"
    },
    {
      "type": "textarea",
      "id": "faq_title",
      "label": "faq title",
      "default": "Frequently Asked Questions & info"
    },
    {
      "type": "textarea",
      "id": "faq_p",
      "label": "faq p",
      "default": "We know it's a big purchase. Let us explain why Mark Karen's is absolutely worth it.More questions?"
    },
    {
      "type": "textarea",
      "id": "faq_a_1",
      "label": "FAQ A 1",
      "default": "Shipping Costs: Shipping costs are calculated at checkout based on the delivery address and size of the items ordered. In some cases, additional charges may apply for remote locations or special delivery requirements.Return Eligibility: We accept returns within 30 days of delivery for unused, undamaged items. Custom or personalized items are not eligible for return unless defective.Return Process: To initiate a return, please contact our customer service team at hello@markkarens.com with your order number and details of the item(s) you wish to return. Our team will guide you through the return process, including how to securely package the item(s) for return.Return Shipping Costs: Return shipping costs are the responsibility of the customer unless the return is due to a defect or an error on our part. Refunds: Once your return is received and inspected, we will notify you of the approval or rejection of your refund. Approved refunds will be processed within 4-10 business days and will be credited to your original method of payment."
    },
    {
      "type": "textarea",
      "id": "faq_a_2",
      "label": "FAQ A 2",
      "default": "Proudly Canadian. All Mark Karen's furniture is hand crafted in Southern Ontario."
    },
    {
      "type": "textarea",
      "id": "faq_a_3",
      "label": "FAQ A 3",
      "default": "Pets will naturally be drawn to both The Addison and The Bellamere because these luxurious pet homes are designed to meet their need for comfort and security. The Addison, with its doorless design, offers a cozy, inviting space where pets can retreat, sleep, or simply relax without feeling confined. It’s perfect for dogs that enjoy having their own space while still feeling free.The Bellamere, on the other hand, provides a more enclosed environment with its sliding barn-style door, ideal for crate-trained dogs or those that feel safer in a more private setting. This design caters to their instinctual desire for a den-like space where they can unwind, feel secure, and rest peacefully. Both products are crafted to make dogs feel at home, whether they crave a sense of freedom or a bit more security."
    },
    {
      "type": "textarea",
      "id": "faq_a_4",
      "label": "FAQ A 4",
      "default": "Yes! Mark Karen's pet furniture is specifically designed to be able to fit into any home setting. Our Mark Karen's pet homes come in 3 sizes, each with 242 unique combinations."
    },
    {
      "type": "textarea",
      "id": "faq_a_5",
      "label": "FAQ A 5",
      "default": "Once your order is placed, it typically takes 3-4 weeks for your furniture to be delivered. This timeline may vary depending on your location, order size, and any customizations requested."
    },
    {
      "type": "textarea",
      "id": "faq_a_6",
      "label": "FAQ A 6",
      "default": "Mark Karen’s is a luxury pet furniture company specializing in handcrafted, pet-friendly pieces that seamlessly blend into any home and style. Each product is meticulously crafted by Mark & Karen Ormandy in Southern Ontario. As part of Camp Shake-A-Paw, a renowned dog service provider based in London, Ontario, Mark Karen’s combines quality craftsmanship with a deep love for pets."
    }
  ]
}
{% endschema %}