
        <div class="container-regular-2">
          <div class="flex-wrapper-centre margin-bottom-48">
            <div data-gsap="par.5" class="heading-detail-small margin-bottom-12 text-color-gray-500">{{ section.settings.tagline }}</div>
            <h2 data-gsap="txt.3" class="heading-98">{{ 'tn673013c8' | t }}</h2>
          </div>
          <div data-delay="4000" data-animation="slide" class="gallery-slider-2 w-slider" data-autoplay="true" data-easing="ease-out-quint" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="1000" data-infinite="true">
            <div class="gallery-slider-mask w-slider-mask">
              <div class="gallery-slide w-slide">
                <a href="#" class="gallery-lightbox w-inline-block w-lightbox">
                  <div class="gallery-image-small-square">{%- if section.settings.img == nil -%}<img class="image-cover-6" src="{{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }}" width="150" height="100" alt="Placeholder Instagram - Instagram Feeds Cloneable Template" sizes="(max-width: 479px) 90vw, (max-width: 767px) 400px, (max-width: 991px) 420px, 350px" loading="lazy" srcset="{{ 'featured-image-instagram-feeds-cloneable-template-p-500.png' | asset_url }} 500w, {{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }} 792w">{%- else -%}<img class="image-cover-6" src="{{ section.settings.img.src | img_url: 'master' }}" width="150" height="100" alt="{{ section.settings.img.alt | escape }}" loading="lazy" srcset="{{ section.settings.img | img_url: '1920x' }} 1920w,{{ section.settings.img | img_url: '1600x' }} 1600w,{{ section.settings.img | img_url: '1366x' }} 1366w,{{ section.settings.img | img_url: '1024x' }} 1024w,{{ section.settings.img | img_url: '768x' }} 768w,{{ section.settings.img | img_url: '640x' }} 640w">{%- endif -%}</div>
                  <script type="application/json" class="w-json">{"items":[{"_id":"66d0d06a20f2af178d433bc4","origFileName":"060a8676-enhanced-nr-edit-wf-optimized (Optimized).avif","fileName":"060a8676-enhanced-nr-edit-wf-optimized (Optimized).avif","fileSize":198117,"height":2265,"url":"https://cdn.prod.website-files.com/6655f8eb723faeae23c863ce/66d0d06a20f2af178d433bc4_060a8676-enhanced-nr-edit-wf-optimized%20(Optimized).avif","width":3398,"type":"image"}],"group":""}</script>
                </a>
              </div>
              <div class="gallery-slide w-slide">
                <a href="#" class="gallery-lightbox w-inline-block w-lightbox">
                  <div class="gallery-image-small-square">{%- if section.settings.img2 == nil -%}<img class="image-cover-6" src="{{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }}" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 400px, (max-width: 991px) 420px, 350px" loading="lazy" srcset="{{ 'featured-image-instagram-feeds-cloneable-template-p-500.png' | asset_url }} 500w, {{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }} 792w">{%- else -%}<img class="image-cover-6" src="{{ section.settings.img2.src | img_url: 'master' }}" alt="{{ section.settings.img2.alt | escape }}" loading="lazy" srcset="{{ section.settings.img2 | img_url: '1920x' }} 1920w,{{ section.settings.img2 | img_url: '1600x' }} 1600w,{{ section.settings.img2 | img_url: '1366x' }} 1366w,{{ section.settings.img2 | img_url: '1024x' }} 1024w,{{ section.settings.img2 | img_url: '768x' }} 768w,{{ section.settings.img2 | img_url: '640x' }} 640w">{%- endif -%}</div>
                  <script type="application/json" class="w-json">{"items":[{"_id":"6661d7f09489589a956bb879","origFileName":"060A8733-Enhanced-NR.avif","fileName":"060A8733-Enhanced-NR.avif","fileSize":144443,"height":6656,"url":"https://cdn.prod.website-files.com/6655f8eb723faeae23c863ce/6661d7f09489589a956bb879_060A8733-Enhanced-NR.avif","width":4437,"type":"image"}],"group":""}</script>
                </a>
              </div>
              <div class="gallery-slide w-slide">
                <a href="#" class="gallery-lightbox w-inline-block w-lightbox">
                  <div class="gallery-image-small-square">{%- if section.settings.img3 == nil -%}<img class="image-cover-6" src="{{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }}" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 400px, (max-width: 991px) 420px, 350px" loading="lazy" srcset="{{ 'featured-image-instagram-feeds-cloneable-template-p-500.png' | asset_url }} 500w, {{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }} 792w">{%- else -%}<img class="image-cover-6" src="{{ section.settings.img3.src | img_url: 'master' }}" alt="{{ section.settings.img3.alt | escape }}" loading="lazy" srcset="{{ section.settings.img3 | img_url: '1920x' }} 1920w,{{ section.settings.img3 | img_url: '1600x' }} 1600w,{{ section.settings.img3 | img_url: '1366x' }} 1366w,{{ section.settings.img3 | img_url: '1024x' }} 1024w,{{ section.settings.img3 | img_url: '768x' }} 768w,{{ section.settings.img3 | img_url: '640x' }} 640w">{%- endif -%}</div>
                  <script type="application/json" class="w-json">{"items":[{"_id":"66d0d06e412efa4999688f01","origFileName":"060a9019-enhanced-nr-wf-optimized (Optimized).avif","fileName":"060a9019-enhanced-nr-wf-optimized (Optimized).avif","fileSize":208894,"height":3398,"url":"https://cdn.prod.website-files.com/6655f8eb723faeae23c863ce/66d0d06e412efa4999688f01_060a9019-enhanced-nr-wf-optimized%20(Optimized).avif","width":2265,"type":"image"}],"group":""}</script>
                </a>
              </div>
              <div class="gallery-slide w-slide">
                <a href="#" class="gallery-lightbox w-inline-block w-lightbox">
                  <div class="gallery-image-small-square">{%- if section.settings.img4 == nil -%}<img class="image-cover-6" src="{{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }}" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 400px, (max-width: 991px) 420px, 350px" loading="lazy" srcset="{{ 'featured-image-instagram-feeds-cloneable-template-p-500.png' | asset_url }} 500w, {{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }} 792w">{%- else -%}<img class="image-cover-6" src="{{ section.settings.img4.src | img_url: 'master' }}" alt="{{ section.settings.img4.alt | escape }}" loading="lazy" srcset="{{ section.settings.img4 | img_url: '1920x' }} 1920w,{{ section.settings.img4 | img_url: '1600x' }} 1600w,{{ section.settings.img4 | img_url: '1366x' }} 1366w,{{ section.settings.img4 | img_url: '1024x' }} 1024w,{{ section.settings.img4 | img_url: '768x' }} 768w,{{ section.settings.img4 | img_url: '640x' }} 640w">{%- endif -%}</div>
                  <script type="application/json" class="w-json">{"items":[{"_id":"66d0d065a05e27dc8ed36be0","origFileName":"060a3931-edit (optimized)-wf-optimized (Optimized).avif","fileName":"060a3931-edit (optimized)-wf-optimized (Optimized).avif","fileSize":185181,"height":2663,"url":"https://cdn.prod.website-files.com/6655f8eb723faeae23c863ce/66d0d065a05e27dc8ed36be0_060a3931-edit%20(optimized)-wf-optimized%20(Optimized).avif","width":1775,"type":"image"}],"group":""}</script>
                </a>
              </div>
              <div class="gallery-slide w-slide">
                <a href="#" class="gallery-lightbox w-inline-block w-lightbox">
                  <div class="gallery-image-small-square">{%- if section.settings.img5 == nil -%}<img class="image-cover-6" src="{{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }}" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 400px, (max-width: 991px) 420px, 350px" loading="lazy" srcset="{{ 'featured-image-instagram-feeds-cloneable-template-p-500.png' | asset_url }} 500w, {{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }} 792w">{%- else -%}<img class="image-cover-6" src="{{ section.settings.img5.src | img_url: 'master' }}" alt="{{ section.settings.img5.alt | escape }}" loading="lazy" srcset="{{ section.settings.img5 | img_url: '1920x' }} 1920w,{{ section.settings.img5 | img_url: '1600x' }} 1600w,{{ section.settings.img5 | img_url: '1366x' }} 1366w,{{ section.settings.img5 | img_url: '1024x' }} 1024w,{{ section.settings.img5 | img_url: '768x' }} 768w,{{ section.settings.img5 | img_url: '640x' }} 640w">{%- endif -%}</div>
                  <script type="application/json" class="w-json">{"items":[{"_id":"6661d7f1f36aaa3fcfa321ca","origFileName":"060A8780-Enhanced-NR-Edit.avif","fileName":"060A8780-Enhanced-NR-Edit.avif","fileSize":268188,"height":6720,"url":"https://cdn.prod.website-files.com/6655f8eb723faeae23c863ce/6661d7f1f36aaa3fcfa321ca_060A8780-Enhanced-NR-Edit.avif","width":4480,"type":"image"}],"group":""}</script>
                </a>
              </div>
              <div class="gallery-slide w-slide">
                <a href="#" class="gallery-lightbox w-inline-block w-lightbox">
                  <div class="gallery-image-small-square">{%- if section.settings.img6 == nil -%}<img class="image-cover-6" src="{{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }}" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 400px, (max-width: 991px) 420px, 350px" loading="lazy" srcset="{{ 'featured-image-instagram-feeds-cloneable-template-p-500.png' | asset_url }} 500w, {{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }} 792w">{%- else -%}<img class="image-cover-6" src="{{ section.settings.img6.src | img_url: 'master' }}" alt="{{ section.settings.img6.alt | escape }}" loading="lazy" srcset="{{ section.settings.img6 | img_url: '1920x' }} 1920w,{{ section.settings.img6 | img_url: '1600x' }} 1600w,{{ section.settings.img6 | img_url: '1366x' }} 1366w,{{ section.settings.img6 | img_url: '1024x' }} 1024w,{{ section.settings.img6 | img_url: '768x' }} 768w,{{ section.settings.img6 | img_url: '640x' }} 640w">{%- endif -%}</div>
                  <script type="application/json" class="w-json">{"items":[],"group":""}</script>
                </a>
              </div>
              <div class="gallery-slide w-slide">
                <a href="#" class="gallery-lightbox w-inline-block w-lightbox">
                  <div class="gallery-image-small-square"><img src="{{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 400px, (max-width: 991px) 420px, 350px" srcset="{{ 'featured-image-instagram-feeds-cloneable-template-p-500.png' | asset_url }} 500w, {{ 'featured-image-instagram-feeds-cloneable-template.png' | asset_url }} 792w" alt="" class="image-cover-6"></div>
                  <script type="application/json" class="w-json">{"items":[{"_id":"6661d7f204b0990a8e92b3fb","origFileName":"060A8802-Enhanced-NR-Edit.avif","fileName":"060A8802-Enhanced-NR-Edit.avif","fileSize":758197,"height":6720,"url":"https://cdn.prod.website-files.com/6655f8eb723faeae23c863ce/6661d7f204b0990a8e92b3fb_060A8802-Enhanced-NR-Edit.avif","width":4480,"type":"image"}],"group":""}</script>
                </a>
              </div>
            </div>
            <div class="left-arrow-2 w-slider-arrow-left">
              <div class="icon-2 w-embed"><svg width="420" height="420" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.828 12.0001L14.657 14.8281L13.243 16.2431L9 12.0001L13.243 7.75708L14.657 9.17208L11.828 12.0001Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <div class="right-arrow-2 w-slider-arrow-right">
              <div class="icon-2 w-embed"><svg width="420" height="420" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.1718 12.0001L9.34277 9.17208L10.7568 7.75708L14.9998 12.0001L10.7568 16.2431L9.34277 14.8281L12.1718 12.0001Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <div class="slide-nav-hidden w-slider-nav w-round"></div>
          </div>
        </div>
      

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","section-gallery");</script>
        
{% schema %}
{
  "name": "gallery section",
  "tag": "div",
  "class": "section-gallery",
  "settings": [
    {
      "type": "text",
      "id": "tagline",
      "label": "tagline",
      "default": "multiple sizes. no assembly required."
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "img"
    },
    {
      "type": "image_picker",
      "id": "img2",
      "label": "img2"
    },
    {
      "type": "image_picker",
      "id": "img3",
      "label": "img3"
    },
    {
      "type": "image_picker",
      "id": "img4",
      "label": "img4"
    },
    {
      "type": "image_picker",
      "id": "img5",
      "label": "img5"
    },
    {
      "type": "image_picker",
      "id": "img6",
      "label": "img6"
    }
  ]
}
{% endschema %}