
            <div class="title-wrapper-s"></div>
            <div class="w-layout-grid content-grid-a">
              <div class="content-card-l">
                <div class="content-top-detail">
                  <div class="paragraph-small-13 text-weight-bold">{{ 't4b86a267' | t }}</div>
                  <div class="content-tag-wrap">
                    <div class="paragraph-small-13 text-weight-bold">{{ 't1d0ae780' | t }}</div>
                    <div class="wrap-h-x-small"></div>
                  </div>
                </div>
                <div class="content-image-v3"><img src="{{ 'content-image-06_1content-image-06.webp' | asset_url }}" loading="lazy" alt="" class="image-cover-9"></div>
                <div>
                  <div class="wrap-v-regular">
                    <h4 class="h4-heading-2">{{ 't1ecc508a' | t }}</h4>
                    <p class="paragraph-large-5">{{ 't52198a5a' | t }}</p>
                  </div>
                  <div class="content-bottom-detail">
                    <a href="{{ section.settings.shop_now_url_1 }}" class="button-link-large w-inline-block">
                      <div class="icon-link">
                        <div class="icon-small-2 w-embed"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.47233 8.66657H10.919L7.66566 11.9199C7.40566 12.1799 7.40566 12.6066 7.66566 12.8666C7.92566 13.1266 8.34566 13.1266 8.60566 12.8666L12.999 8.47323C13.259 8.21323 13.259 7.79323 12.999 7.53323L8.61233 3.13323C8.35233 2.87323 7.93233 2.87323 7.67233 3.13323C7.41233 3.39323 7.41233 3.81323 7.67233 4.07323L10.919 7.33323H3.47233C3.10566 7.33323 2.80566 7.63323 2.80566 7.9999C2.80566 8.36657 3.10566 8.66657 3.47233 8.66657Z" fill="currentColor"></path>
                          </svg></div>
                      </div>
                      <div class="text-block-52">{{ 'tn10d26d54' | t }}</div>
                    </a>
                    <a href="#" class="client-link">{{ 't112ad1' | t }}</a>
                  </div>
                </div>
              </div>
              <div class="content-card-l">
                <div class="content-top-detail">
                  <div class="paragraph-small-13 text-weight-bold">{{ 't73de56a0' | t }}</div>
                  <div class="content-tag-wrap">
                    <div class="paragraph-small-13 text-weight-bold">{{ 't1d0ae780' | t }}</div>
                    <div class="wrap-h-x-small"></div>
                  </div>
                </div>
                <div class="content-image-v3"><img src="{{ 'content-image-05_1content-image-05.webp' | asset_url }}" loading="lazy" alt="" class="image-cover-9"></div>
                <div>
                  <div class="wrap-v-regular">
                    <h4 class="h4-heading-2">{{ 't4471b269' | t }}</h4>
                    <p class="paragraph-large-5">{{ 't52198a5a' | t }}</p>
                  </div>
                  <div class="content-bottom-detail">
                    <a href="{{ section.settings.shop_now_url_2 }}" class="button-link-large w-inline-block">
                      <div class="icon-link">
                        <div class="icon-small-2 w-embed"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.47233 8.66657H10.919L7.66566 11.9199C7.40566 12.1799 7.40566 12.6066 7.66566 12.8666C7.92566 13.1266 8.34566 13.1266 8.60566 12.8666L12.999 8.47323C13.259 8.21323 13.259 7.79323 12.999 7.53323L8.61233 3.13323C8.35233 2.87323 7.93233 2.87323 7.67233 3.13323C7.41233 3.39323 7.41233 3.81323 7.67233 4.07323L10.919 7.33323H3.47233C3.10566 7.33323 2.80566 7.63323 2.80566 7.9999C2.80566 8.36657 3.10566 8.66657 3.47233 8.66657Z" fill="currentColor"></path>
                          </svg></div>
                      </div>
                      <div class="text-block-53">{{ 'tn10d26d54' | t }}</div>
                    </a>
                    <a href="#" class="client-link">{{ 't112b71' | t }}</a>
                  </div>
                </div>
              </div>
            </div>
          

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","container-large-11 products-container");</script>
        
{% schema %}
{
  "name": "Products Container",
  "tag": "div",
  "class": "container-large-11 products-container",
  "settings": [
    {
      "type": "url",
      "id": "shop_now_url_1",
      "label": "Shop now url 1"
    },
    {
      "type": "url",
      "id": "shop_now_url_2",
      "label": "Shop now url 2"
    }
  ]
}
{% endschema %}