{%- assign headerSnippetPath = "header-404" -%}{%- assign wfPage = "6655f8ec723faeae23c8642b" -%}{%- assign bodyClasses = "" -%}
  {%- render 'contactsocial-bar' -%}
  <div class="page-wrapper">
    <div class="utility-page-wrap">
      <section class="_404-section">
        <div class="container-large-9">
          <div class="_404-content">
            <div class="_404-logo-wrapper"><img loading="lazy" src="{{ '404-logo.svg' | asset_url }}" alt=""></div>
            <div class="w-layout-grid _404-content-grid">
              <h1 id="w-node-_53bc2ded-4839-0c0a-bd83-a1a776a0f7c0-23c8642b" class="heading-97">{{ 'tc938' | t }}</h1>
              <div id="w-node-_14d27acc-6e1a-6ed2-0857-a6b3d91d3e55-23c8642b" class="_404-card">
                <div id="w-node-_14d27acc-6e1a-6ed2-0857-a6b3d91d3e56-23c8642b" class="_404-card-grid">
                  <div id="w-node-_14d27acc-6e1a-6ed2-0857-a6b3d91d3e57-23c8642b" class="subheading-regular-2 text-weight-medium">{{ 'tn6c0c0671' | t }}<br>{{ 't25d7e90a' | t }}</div>
                  <p id="w-node-_14d27acc-6e1a-6ed2-0857-a6b3d91d3e5b-23c8642b" class="paragraph-small-11 text-color-gray-600">{{ 'tn1c582d94' | t }}</p>
                </div>
                <div id="w-node-_14d27acc-6e1a-6ed2-0857-a6b3d91d3e5d-23c8642b" class="_404-card-grid">
                  <div id="w-node-_14d27acc-6e1a-6ed2-0857-a6b3d91d3e5e-23c8642b" class="row-regular">
                    <a href="#" class="text-link-small">{{ 'tn64104400' | t }}</a>
                  </div>
                  <a href="{{ routes.root_url }}" id="w-node-_14d27acc-6e1a-6ed2-0857-a6b3d91d3e63-23c8642b" class="button-primary w-button">{{ 't2948e5a' | t }}</a>
                </div>
              </div>
            </div>
            <div class="paragraph-x-small-2">{{ 't46809487' | t }}</div>
          </div>
        </div>
        <div class="background-image"><img alt="" src="{{ '404-bg-image_1404-bg-image.webp' | asset_url }}" loading="lazy" class="image-cover-8"></div>
      </section>
    </div>
  </div>
  <section></section>
  {%- section 'footer-2' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6655f8eb723faeae23c863ce" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}