{%- assign headerSnippetPath = "header-articlelanding-pagearticle" -%}{%- assign wfPage = "667f6fdd06ecd330b36e24b8" -%}{%- assign bodyClasses = "body-6" -%}
  <div class="product-lp-wrapper">
    <div class="main-section">
      <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
        <div class="container-navigation">
          <div class="navigation-menu">
            <a href="{{ routes.root_url }}" class="brand w-nav-brand"><img src="{{ 'finalinitials.png' | asset_url }}" sizes="100px" srcset="{{ 'finalinitials-p-500.png' | asset_url }} 500w, {{ 'finalinitials-p-800.png' | asset_url }} 800w, {{ 'finalinitials-p-1080.png' | asset_url }} 1080w, {{ 'finalinitials-p-1600.png' | asset_url }} 1600w, {{ 'finalinitials-p-2000.png' | asset_url }} 2000w, {{ 'finalinitials.png' | asset_url }} 2535w" alt="" class="brand-logo"></a>
          </div>
        </div>
      </div>
      <div class="container-9">
        <div class="header-title">
          <h1 data-gsap="an4" class="heading-title-2"><span class="text-span-4">{{ 't18451f10' | t }}</span>{{ 't1f76301' | t }}<br>{{ 'tnc4da15' | t }}</h1>
          <p data-gsap="an4" class="heading-paragraph-2">{{ 't463febf0' | t }}</p>
        </div>
      </div><img src="{{ 'bg-waves.svg' | asset_url }}" loading="lazy" alt="" class="wave-image">
      <div class="wave-css w-embed">
        <style>
.wave-image {
pointer-events: none;
}
</style>
      </div>
      <section class="section-11">
        <div class="w-layout-blockcontainer container-13 w-container">
          <div data-gsap="an4" class="text-block-42">{{ 't7f2581fc' | t }}</div>
          <h2 class="heading-47">{{ article.title }}</h2>
          <div class="text-block-43">{{ article.metafields.udesly['taglind'] }}</div><img loading="lazy" width="702" src="{{ article.image | img_url: 'master' }}" class="image-6">
          <div class="div-block-27">
            <a href="#" class="button-primary lp-btn-1 w-button">{{ 'tn10d26d54' | t }}</a>
          </div>
        </div>
      </section>
    </div>
    <section class="section-regular-2">
      <div class="container-large-10">
        <div class="title-wrapper">
          <div class="divider-wrapper">
            <div class="divider"></div>
            <div class="divider-text-wrapper">
              <div class="accent-circle-2"></div>
              <div class="overline-small-2">{{ 'tn7c5c7f99' | t }}</div>
            </div>
          </div>
          <h2 class="h2-heading-2">{{ 't5d367025' | t }}<br><span class="text-color-orange-2">{{ 'tn75f6a721' | t }}</span>{{ 'tn4b432329' | t }}</h2>
        </div>
        <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="feature-tabs w-tabs">
          <div class="feature-tabs-menu-right w-tab-menu">
            <a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link w--current">
              <div class="tab-circle"></div>
              <div class="text-block-46">{{ 'tn4c6f718' | t }}</div>
            </a>
            <a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link">
              <div class="tab-circle"></div>
              <div class="text-block-47">{{ 't54e90113' | t }}</div>
            </a>
            <a data-w-tab="Tab 3" class="tab-link w-inline-block w-tab-link">
              <div class="tab-circle"></div>
              <div class="text-block-48">{{ 'tn5517d2f7' | t }}</div>
            </a>
          </div>
          <div class="feature-tab-content w-tab-content">
            <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
              <div class="w-layout-grid feature-grid">
                <div class="feature-content-wrap">
                  <h6 class="h6-heading">{{ 'tn44f1a548' | t }}</h6>
                  <p class="paragraph-regular-10">{{ 'tn6796ae85' | t }}</p>
                </div>
                <div class="w-layout-grid feature-cards">
                  <div id="w-node-ae3a3565-0f6f-daf4-6e77-e3f7ee9604cf-b36e24b8" class="feature-card">
                    <div class="space-x-small">
                      <div class="icon-wrapper">
                        <div class="icon-regular-4 w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM11 19.93C7.05 19.44 4 16.08 4 12C4 11.38 4.08 10.79 4.21 10.21L9 15V16C9 17.1 9.9 18 11 18V19.93ZM17.9 17.39C17.64 16.58 16.9 16 16 16H15V13C15 12.45 14.55 12 14 12H8V10H10C10.55 10 11 9.55 11 9V7H13C14.1 7 15 6.1 15 5V4.59C17.93 5.78 20 8.65 20 12C20 14.08 19.2 15.97 17.9 17.39Z" fill="black"></path>
                          </svg></div>
                      </div>
                      <h6 class="h6-heading">{{ 'tn5f3c613b' | t }}</h6>
                    </div>
                    <p class="paragraph-regular-10">{{ 'tn6796ae85' | t }}</p>
                  </div>
                  <div id="w-node-ae3a3565-0f6f-daf4-6e77-e3f7ee9604d7-b36e24b8" class="feature-card">
                    <div class="space-x-small">
                      <div class="icon-wrapper">
                        <div class="icon-regular-4 w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.9978 9.62688V5.32688C18.9978 4.77688 18.5478 4.32688 17.9978 4.32688H16.9978C16.4478 4.32688 15.9978 4.77688 15.9978 5.32688V6.92688L12.6678 3.92687C12.2878 3.58687 11.7078 3.58687 11.3278 3.92687L2.96778 11.4569C2.62778 11.7569 2.83778 12.3269 3.29778 12.3269H4.99778V19.3269C4.99778 19.8769 5.44778 20.3269 5.99778 20.3269H8.99778C9.54778 20.3269 9.99778 19.8769 9.99778 19.3269V14.3269H13.9978V19.3269C13.9978 19.8769 14.4478 20.3269 14.9978 20.3269H17.9978C18.5478 20.3269 18.9978 19.8769 18.9978 19.3269V12.3269H20.6978C21.1578 12.3269 21.3778 11.7569 21.0278 11.4569L18.9978 9.62688ZM9.99778 10.3269C9.99778 9.22688 10.8978 8.32688 11.9978 8.32688C13.0978 8.32688 13.9978 9.22688 13.9978 10.3269H9.99778Z" fill="black"></path>
                          </svg></div>
                      </div>
                      <h6 class="h6-heading">{{ 't2ea25227' | t }}</h6>
                    </div>
                    <p class="paragraph-regular-10">{{ 'tn6796ae85' | t }}</p>
                  </div>
                  <div id="w-node-ae3a3565-0f6f-daf4-6e77-e3f7ee9604df-b36e24b8" class="feature-card">
                    <div class="space-x-small">
                      <div class="icon-wrapper">
                        <div class="icon-regular-4 w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 20.7735H4C3.45 20.7735 3 20.3235 3 19.7735V8.46354C3 8.04354 3.25 7.67354 3.64 7.52354L14.64 3.29354C15.3 3.04354 16 3.52354 16 4.23354V9.77354H8C7.45 9.77354 7 10.2235 7 10.7735V20.7735ZM17 11.7735H10C9.45 11.7735 9 12.2235 9 12.7735V19.7735C9 20.3235 9.45 20.7735 10 20.7735H14V16.7735C14 16.2235 14.45 15.7735 15 15.7735C15.55 15.7735 16 16.2235 16 16.7735V20.7735H20C20.55 20.7735 21 20.3235 21 19.7735V11.7735C21 10.6735 20.1 9.77354 19 9.77354C17.9 9.77354 17 10.6735 17 11.7735Z" fill="black"></path>
                          </svg></div>
                      </div>
                      <h6 class="h6-heading">{{ 'tn2e8b77cb' | t }}</h6>
                    </div>
                    <p class="paragraph-regular-10">{{ 'tn6796ae85' | t }}</p>
                  </div>
                  <div id="w-node-ae3a3565-0f6f-daf4-6e77-e3f7ee9604e7-b36e24b8" class="feature-card">
                    <div class="space-x-small">
                      <div class="icon-wrapper">
                        <div class="icon-regular-4 w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.7037 13.209V9.20898C10.7037 8.65898 10.2537 8.20898 9.70374 8.20898H5.70374V6.20898H9.70374C10.2537 6.20898 10.7037 5.75898 10.7037 5.20898C10.7037 4.65898 10.2537 4.20898 9.70374 4.20898H8.20374C8.20374 3.65898 7.75374 3.20898 7.20374 3.20898C6.65374 3.20898 6.20374 3.65898 6.20374 4.20898H4.70374C4.15374 4.20898 3.70374 4.65898 3.70374 5.20898V9.20898C3.70374 9.75898 4.15374 10.209 4.70374 10.209H8.70374V12.209H4.70374C4.15374 12.209 3.70374 12.659 3.70374 13.209C3.70374 13.759 4.15374 14.209 4.70374 14.209H6.20374C6.20374 14.759 6.65374 15.209 7.20374 15.209C7.75374 15.209 8.20374 14.759 8.20374 14.209H9.70374C10.2537 14.209 10.7037 13.759 10.7037 13.209Z" fill="black"></path>
                            <path d="M18.5837 13.429L13.6337 18.379L11.5137 16.259C11.1237 15.869 10.4937 15.869 10.1037 16.259C9.71374 16.649 9.71374 17.279 10.1037 17.669L12.9337 20.499C13.3237 20.889 13.9537 20.889 14.3437 20.499L20.0037 14.839C20.3937 14.449 20.3937 13.819 20.0037 13.429C19.6037 13.039 18.9737 13.039 18.5837 13.429Z" fill="black"></path>
                          </svg></div>
                      </div>
                      <h6 class="h6-heading">{{ 't28753d45' | t }}</h6>
                    </div>
                    <p class="paragraph-regular-10">{{ 'tn6796ae85' | t }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 2" class="w-tab-pane"></div>
            <div data-w-tab="Tab 3" class="w-tab-pane"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6655f8eb723faeae23c863ce" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script><!--  Start of Wiremo script  -->
  <script>!function(){var e=document.getElementById("wiremo-widget")?document.getElementById("wiremo-widget").dataset:{},
t=window.wiremo_config?new window.wiremo_config:{},n={reviewSource:location.pathname,identifier:location.pathname},o=document.createElement("script");
for(var i in t)n[i]=t[i];for(var i in e)n[i]=e[i]?e[i]:n[i];
o.type="text/javascript",o.async=!0,o.src="https://wapi.wiremo.co/v2/script?k=66e5b5885e9da3d0fea13d17&w="+encodeURIComponent(JSON.stringify(n));
var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)}();</script>
  <!--  End of Wiremo Script  -->
  <!--  Start of Wiremo script  -->
  <script>
        (function () {
            var d = document,
                s = d.createElement('script');
            s.src = 'https://wapi.wiremo.co/v1/attach/carousel/66e83b82860c27d039bcbb50';
            (d.head || d.body).appendChild(s);
        })();
    </script>
  <!--  End of Wiremo Script  -->
  <script src="https://unpkg.com/split-type"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
  <script src="https://slater.app/4593/8246.js"></script>
  <link href="https://slater.app/4593/8247.css" rel="stylesheet" type="text/css">
  <script src="https://assets.slater.app/slater/4593/11806.js"></script>
  <link href="https://slater.app/4593/11811.css" rel="stylesheet" type="text/css">

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}